version: '3.9'

services:
  dev:
    container_name: rayonweb-dev
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    volumes:
      - .:/app
      - node_modules:/app/node_modules
    command: npm run dev
    profiles:
      - dev

  prod:
    container_name: rayonweb-prod
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:3000"
    restart: unless-stopped
    volumes:
      - .:/app
      - node_modules:/app/node_modules
    command: npm run start
    profiles:
      - prod

volumes:
  node_modules:
